on init
    export LD_SHIM_LIBS /system/lib/hw/camera.vendor.qcom.so|libshim_camera.so:/system/lib/libcald_pal.so|libshim_cald.so:/system/bin/mpdecision|libshim_mpdecision.so

on post-fs
    # create directory for hdcp
    mkdir /data/hdcp/ 0700 system system
    mkdir /data/hdcp/dxhdcp2/ 0700 system system

# SONY: TrimArea Daemon
service tad_static /system/bin/tad_static /dev/block/platform/msm_sdcc.1/by-name/TA 0,16
    class core
    user root
    group root readproc
    socket tad stream 0660 system system

# SONY: Trim Area QMI Client
service ta_qmi_client /system/bin/ta_qmi_client
    class main
    user root

# SONY: Update MiscTA
service updatemiscta /system/bin/updatemiscta
    class main
    user root
    oneshot

# Wi-Fi and BT MAC addresses
service macaddrsetup /system/bin/macaddrsetup /data/misc/bluetooth/bdaddr
     class late_start
     user root
     oneshot
